[run]
branch = True
source = bottleplant

[report]
	omit =
  */python?.?/*
  *__init__*
  tests/*
  
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
